@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DunbarText';
  src: url('../../public/fonts/Dunbar/DunbarLow-Regular.eot');
  src:
    local('DunbarLow Regular'),
    local('DunbarLow-Regular'),
    url('../../public/fonts/Dunbar/DunbarLow-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Dunbar/DunbarLow-Regular.woff2') format('woff2'),
    url('../../public/fonts/Dunbar/DunbarLow-Regular.woff') format('woff'),
    url('../../public/fonts/Dunbar/DunbarLow-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DunbarText';
  src: url('../../public/fonts/Dunbar/DunbarText-Bold.eot');
  src:
    local('DunbarText Bold'),
    local('DunbarText-Bold'),
    url('../../public/fonts/Dunbar/DunbarText-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Dunbar/DunbarText-Bold.woff2') format('woff2'),
    url('../../public/fonts/Dunbar/DunbarText-Bold.woff') format('woff'),
    url('../../public/fonts/Dunbar/DunbarText-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'DunbarText';
  src: url('../../public/fonts/Dunbar/DunbarText-Bold.eot');
  src:
    local('DunbarText Bold'),
    local('DunbarText-Bold'),
    url('../../public/fonts/Dunbar/DunbarText-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Dunbar/DunbarText-Bold.woff2') format('woff2'),
    url('../../public/fonts/Dunbar/DunbarText-Bold.woff') format('woff'),
    url('../../public/fonts/Dunbar/DunbarText-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'DunbarText';
  src: url('../../public/fonts/Dunbar/DunbarLow-Light.eot');
  src:
    local('DunbarLow Light'),
    local('DunbarLow-Light'),
    url('../../public/fonts/Dunbar/DunbarLow-Light.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Dunbar/DunbarLow-Light.woff2') format('woff2'),
    url('../../public/fonts/Dunbar/DunbarLow-Light.woff') format('woff'),
    url('../../public/fonts/Dunbar/DunbarLow-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'DunbarText';
  src: url('../../public/fonts/Dunbar/DunbarLow-ExtraLight.eot');
  src:
    local('DunbarLow ExtraLight'),
    local('DunbarLow-ExtraLight'),
    url('../../public/fonts/Dunbar/DunbarLow-ExtraLight.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Dunbar/DunbarLow-ExtraLight.woff2') format('woff2'),
    url('../../public/fonts/Dunbar/DunbarLow-ExtraLight.woff') format('woff'),
    url('../../public/fonts/Dunbar/DunbarLow-ExtraLight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src:
    local('Poppins Regular'),
    local('Poppins-Regular'),
    url('../../public/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src:
    local('Poppins Regular'),
    local('Poppins-Regular'),
    url('../../public/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
