@font-face {
    font-family: 'DunbarLow';
    src: url('DunbarLow-Medium.eot');
    src: local('DunbarLow Medium'), local('DunbarLow-Medium'),
        url('DunbarLow-Medium.eot?#iefix') format('embedded-opentype'),
        url('DunbarLow-Medium.woff2') format('woff2'),
        url('DunbarLow-Medium.woff') format('woff'),
        url('DunbarLow-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DunbarTall ExLight';
    src: url('DunbarTall-ExtraLight.eot');
    src: local('DunbarTall ExLight'), local('DunbarTall-ExtraLight'),
        url('DunbarTall-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('DunbarTall-ExtraLight.woff2') format('woff2'),
        url('DunbarTall-ExtraLight.woff') format('woff'),
        url('DunbarTall-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'DunbarTall Book';
    src: url('DunbarTall-Book.eot');
    src: local('DunbarTall Book'), local('DunbarTall-Book'),
        url('DunbarTall-Book.eot?#iefix') format('embedded-opentype'),
        url('DunbarTall-Book.woff2') format('woff2'),
        url('DunbarTall-Book.woff') format('woff'),
        url('DunbarTall-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DunbarTall';
    src: url('DunbarTall-Medium.eot');
    src: local('DunbarTall Medium'), local('DunbarTall-Medium'),
        url('DunbarTall-Medium.eot?#iefix') format('embedded-opentype'),
        url('DunbarTall-Medium.woff2') format('woff2'),
        url('DunbarTall-Medium.woff') format('woff'),
        url('DunbarTall-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DunbarTall Ultra';
    src: url('DunbarTall-Ultra.eot');
    src: local('DunbarTall Ultra'), local('DunbarTall-Ultra'),
        url('DunbarTall-Ultra.eot?#iefix') format('embedded-opentype'),
        url('DunbarTall-Ultra.woff2') format('woff2'),
        url('DunbarTall-Ultra.woff') format('woff'),
        url('DunbarTall-Ultra.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DunbarLow';
    src: url('DunbarLow-Regular.eot');
    src: local('DunbarLow'), local('DunbarLow-Regular'),
        url('DunbarLow-Regular.eot?#iefix') format('embedded-opentype'),
        url('DunbarLow-Regular.woff2') format('woff2'),
        url('DunbarLow-Regular.woff') format('woff'),
        url('DunbarLow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DunbarTall';
    src: url('DunbarTall-Regular.eot');
    src: local('DunbarTall'), local('DunbarTall-Regular'),
        url('DunbarTall-Regular.eot?#iefix') format('embedded-opentype'),
        url('DunbarTall-Regular.woff2') format('woff2'),
        url('DunbarTall-Regular.woff') format('woff'),
        url('DunbarTall-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DunbarLow Hairline';
    src: url('DunbarLow-Hairline.eot');
    src: local('DunbarLow Hairline'), local('DunbarLow-Hairline'),
        url('DunbarLow-Hairline.eot?#iefix') format('embedded-opentype'),
        url('DunbarLow-Hairline.woff2') format('woff2'),
        url('DunbarLow-Hairline.woff') format('woff'),
        url('DunbarLow-Hairline.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DunbarLow';
    src: url('DunbarLow-Light.eot');
    src: local('DunbarLow Light'), local('DunbarLow-Light'),
        url('DunbarLow-Light.eot?#iefix') format('embedded-opentype'),
        url('DunbarLow-Light.woff2') format('woff2'),
        url('DunbarLow-Light.woff') format('woff'),
        url('DunbarLow-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DunbarTall ExBold';
    src: url('DunbarTall-ExtraBold.eot');
    src: local('DunbarTall ExBold'), local('DunbarTall-ExtraBold'),
        url('DunbarTall-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('DunbarTall-ExtraBold.woff2') format('woff2'),
        url('DunbarTall-ExtraBold.woff') format('woff'),
        url('DunbarTall-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'DunbarTall Hairline';
    src: url('DunbarTall-Hairline.eot');
    src: local('DunbarTall Hairline'), local('DunbarTall-Hairline'),
        url('DunbarTall-Hairline.eot?#iefix') format('embedded-opentype'),
        url('DunbarTall-Hairline.woff2') format('woff2'),
        url('DunbarTall-Hairline.woff') format('woff'),
        url('DunbarTall-Hairline.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DunbarTall';
    src: url('DunbarTall-Light.eot');
    src: local('DunbarTall Light'), local('DunbarTall-Light'),
        url('DunbarTall-Light.eot?#iefix') format('embedded-opentype'),
        url('DunbarTall-Light.woff2') format('woff2'),
        url('DunbarTall-Light.woff') format('woff'),
        url('DunbarTall-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DunbarLow ExLight';
    src: url('DunbarLow-ExtraLight.eot');
    src: local('DunbarLow ExLight'), local('DunbarLow-ExtraLight'),
        url('DunbarLow-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('DunbarLow-ExtraLight.woff2') format('woff2'),
        url('DunbarLow-ExtraLight.woff') format('woff'),
        url('DunbarLow-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'DunbarLow Book';
    src: url('DunbarLow-Book.eot');
    src: local('DunbarLow Book'), local('DunbarLow-Book'),
        url('DunbarLow-Book.eot?#iefix') format('embedded-opentype'),
        url('DunbarLow-Book.woff2') format('woff2'),
        url('DunbarLow-Book.woff') format('woff'),
        url('DunbarLow-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DunbarTall';
    src: url('DunbarTall-Bold.eot');
    src: local('DunbarTall Bold'), local('DunbarTall-Bold'),
        url('DunbarTall-Bold.eot?#iefix') format('embedded-opentype'),
        url('DunbarTall-Bold.woff2') format('woff2'),
        url('DunbarTall-Bold.woff') format('woff'),
        url('DunbarTall-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DunbarLow';
    src: url('DunbarLow-Bold.eot');
    src: local('DunbarLow Bold'), local('DunbarLow-Bold'),
        url('DunbarLow-Bold.eot?#iefix') format('embedded-opentype'),
        url('DunbarLow-Bold.woff2') format('woff2'),
        url('DunbarLow-Bold.woff') format('woff'),
        url('DunbarLow-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DunbarText';
    src: url('DunbarText-Medium.eot');
    src: local('DunbarText Medium'), local('DunbarText-Medium'),
        url('DunbarText-Medium.eot?#iefix') format('embedded-opentype'),
        url('DunbarText-Medium.woff2') format('woff2'),
        url('DunbarText-Medium.woff') format('woff'),
        url('DunbarText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DunbarText';
    src: url('DunbarText-Bold.eot');
    src: local('DunbarText Bold'), local('DunbarText-Bold'),
        url('DunbarText-Bold.eot?#iefix') format('embedded-opentype'),
        url('DunbarText-Bold.woff2') format('woff2'),
        url('DunbarText-Bold.woff') format('woff'),
        url('DunbarText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DunbarText';
    src: url('DunbarText-Regular.eot');
    src: local('DunbarText'), local('DunbarText-Regular'),
        url('DunbarText-Regular.eot?#iefix') format('embedded-opentype'),
        url('DunbarText-Regular.woff2') format('woff2'),
        url('DunbarText-Regular.woff') format('woff'),
        url('DunbarText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DunbarText ExBold';
    src: url('DunbarText-ExtraBold.eot');
    src: local('DunbarText ExBold'), local('DunbarText-ExtraBold'),
        url('DunbarText-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('DunbarText-ExtraBold.woff2') format('woff2'),
        url('DunbarText-ExtraBold.woff') format('woff'),
        url('DunbarText-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

